/*	title font - font-family: 'Permanent Marker', cursive; */

body {
	font-family: 'Caveat', cursive;
	color: #fff;
	background-color: #008a26;
}

.container {
	width: 640px;
	display: block;
	margin: 0 auto;
	clear: both;
}

.video {
}

.chat {
}
