/*	title font - font-family: 'Permanent Marker', cursive; */

body {
	font-family: 'Caveat', cursive;
	color: #fff;
	background-color: #008a26;
}

.logo {
	margin: 20px
}

.vidcontain {
	width:90%;
	text-align: center;
	display: block;
	margin: 0 auto;
	clear: both;
}

.video {

	display: flex;
	width: 50%;
	flex-wrap: wrap;
	justify-content: center;
}

iframe.brad {
	flex: 1;
	height: 480px;
	margin: 5px;
}

iframe.other {
	flex: 1;
	height: 480px;
	margin: 5px;
}
